################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APVTranslator_Controllers/obj/Debug/build.force
