################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APVTranslator_Services/bin/Debug
/APVTranslator_Controllers/obj/Debug/build.force
/APVTranslator_Services/obj/Debug
/APVTranslator_Web/obj/Debug/build.force
/APVTranslator_Model/obj/Debug
/APVTranslator_Web/Projects/test6/Imports
/APVTranslator_Web/Projects
