
body {
    height: inherit;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
}

.layout-top {
    flex: 0 1 50px;
    margin-bottom: 0px;
}

footer {
    background-color: #086962;
    color: white;
    text-align: center;
    flex: 0 1 40px;
    padding-top: 10px;
}

.main {
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.apv-navbar {
    background: linear-gradient(to right, #086962, #086962,#086962) transparent !important;
    border-color: #00ACC1;
}

    .apv-navbar .navbar-brand {
        color: #fff;
    }

    .apv-navbar .navbar-nav > li > a {
        color: #fff;
    }

.clear {
    clear: both;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.a-divider {
    vertical-align: middle;
    min-height: 33px;
    border-left: 1px #e6e6e6 solid;
    width: 1px;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
    /*margin: 15px 7px;*/
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2e8c85 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white !important;
}

.ngHeaderButton {
display:none;
}

