@using APVTranslator_Entity.Models;
@model IEnumerable<APVTranslator_Entity.Models.Project>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/bundles/index_css")
@Scripts.Render("~/bundles/index_js")
<div ng-app="myApp" class="app-index" style="right:0px;" id="DashBoard">
    <div class="m-top" style="font-size:19px;margin-top:10px">
        <label>APVTranslator</label>
    </div>
    <div class="m-center" ng-controller="MyCtrl" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
        <div class="row fill-height fill-width">
            <div class="col-xs-12 fill-height fill-width">
                <div class="sidenav fill-height" id="mySidenav" style="width:25%;display:inline;float:left;">
                    <div class="main-left" style="position:relative">
                        <p style="position: absolute;padding:10px;margin-left:30%;font-size:large"><u><b>Project Details</b></u></p>
                        @*<div style="position:absolute;padding:10px;margin-top:50px;font-size:medium;">
                                <p style="text-align:left!important" ><b></b></p>
                                <p style="float:left">aaa</p>
                            </div>*@
                        <div style="position:relative;padding:10px;top:30px;font-size:medium;">
                            <b>Project Name:</b>
                            <p style="display:inline" id="ProjectName" class="selectedItems">
                                {{mySelections[0].Title}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px; font-size:medium;">
                            <b>Status:</b>
                            <p style="display:inline" id="Status">
                                {{mySelections[0].Status}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;font-size:medium;">
                            <b>Progress:</b>
                            <p style="display:inline" id="Progress">
                                {{mySelections[0].Progress}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;font-size:medium;">
                            <b>Path:</b>
                            <p style="display:inline" id="Path">
                                {{mySelections[0].Path}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;font-size:medium;">
                            <b>Translate Language:</b>
                            <p style="display:inline" id="TranslateLanguage">
                                {{mySelections[0].LanguageDescription}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;font-size:medium;">
                            <b>Create At:</b>
                            <p style="display:inline" id="CreateAt">
                                {{mySelections[0].CreateAt}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;font-size:medium;">
                            <b>Create By:</b>
                            <p style="display:inline" id="CreateBy">
                                {{mySelections[0].CreateBy}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;font-size:medium;">
                            <b>Deadline:</b>
                            <p style="display:inline" id="Deadline">
                                {{mySelections[0].DeadLine}}
                            </p>
                        </div>
                        
                        <div class="splitter" style="" onclick="toggle()" id="splitterID" data-toggle="tooltip" title="Đóng chi tiết dự án" ></div>
                    </div>
                </div>
                <div class="fill-height" id="gridTable" style="width:75%;display:inline;float:left">
                    <div class="main-index" id="gridTable2" style="width:100%;">
                        <div class="gridStyle" ng-grid="gridOptions"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*<div class="m-footer">

        </div>*@
    @*  <div class="main-left">
            <div class="splitter"></div>
        </div>
        <div ng-controller="MyCtrl" class="main-index">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>*@
</div>
<style>
    .sidenav {
        /*height: 100%;
        width: 380px;
        position: fixed;
        z-index: 1;
        /*top: 0;*/
        /*left: 0;*/
        /*background-color: white;*/
        overflow-x: hidden;
        transition: 0.5s;
        /*padding-top: 0px;*/
    }
</style>


<script>
    var isOpen = true;
    var initialWidth;
    function toggle() {
        if (isOpen == true) {
            closeNav();
            isOpen = false;
            document.getElementById("splitterID").setAttribute("title", "Mở chi tiết dự án");
        } else {
            openNav();
            isOpen = true;
            document.getElementById("splitterID").setAttribute("title", "Đóng chi tiết dự án");
        }
    }
    function openNav() {
        document.getElementById("mySidenav").style.width = "25%";
        document.getElementById("gridTable").style.width = "75%";
        $('#gridTable').trigger('resize');
        $('#gridTable2').trigger('resize');

    }

    function closeNav() {
        initialWidth = document.getElementById('mySidenav').offsetWidth;
        document.getElementById("mySidenav").style.width = "0.5%";
        document.getElementById("gridTable").style.width = "99.5%";
        $('#gridTable').trigger('resize');
        $('.main-index').trigger('resize'); $('#DashBoard').trigger('resize');
    }
</script>