@using APVTranslator_Entity.Models;
@model IEnumerable<APVTranslator_Entity.Models.Project>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/bundles/index_css")
@Scripts.Render("~/bundles/index_js")
<div ng-app="myApp" ng-controller="MyCtrl" class="app-index">
    <div class="m-top" ng-cloak style="font-size:19px;margin-top:10px">
        <md-button style="float:right;" class="md-accent" ng-show="checked" ng-click="loadListProject()">Back</md-button>
        <label>APVTranslator</label>
    </div>
    <div class="m-center">
        <div class="row fill-height fill-width">
            <div class="col-xs-12 fill-height fill-width">
                <div class="sidenav fill-height" id="mySidenav" style="width:25%;display:inline;float:left;overflow-y:auto">
                    <div class="main-left" ng-cloak style="position:relative">
                        <p style="position: absolute;padding:10px;margin-left:25%;font-size:large"><u><b>Project Details</b></u></p>
                        <div style="position:relative;padding:10px;top:30px;font-size:medium;">
                            <b>Project Name:</b>
                            <p style="display:inline" id="ProjectName">
                                {{currentProject.Title}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;padding-right:10px; font-size:medium;">
                            <b>Status:</b>
                            <p style="display:inline" id="Status">
                                {{currentProject.Status?'Translated':'Translating'}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;padding-right:10px;font-size:medium;">
                            <b>Progress:</b>
                            <p style="display:inline" id="Progress">
                                {{(currentProject.Progress!=null?currentProject.Progress:0)*100+"%"}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;padding-right:10px;font-size:medium;">
                            <b>Path:</b>
                            <p style="display:inline;word-wrap:break-word" id="Path">
                                {{currentProject.Path}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;padding-right:10px;font-size:medium;">
                            <b>Translate Language:</b>
                            <p style="display:inline" id="TranslateLanguage">
                                {{currentProject.LanguageDescription}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;padding-right:10px;font-size:medium;">
                            <b>Create At:</b>
                            <p style="display:inline" id="CreateAt">
                                {{currentProject.CreateAt| date:'hh:mm dd/MM/yyyy'}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;padding-right:10px;font-size:medium;">
                            <b>Create By:</b>
                            <p style="display:inline" id="CreateBy">
                                {{currentProject.CreateBy}}
                            </p>
                        </div>
                        <div style="position:relative;padding-top:40px;padding-left:10px;padding-right:10px;font-size:medium;">
                            <b>Deadline:</b>
                            <p style="display:inline" id="Deadline">
                                {{currentProject.DeadLine| date:'hh:mm dd/MM/yyyy'}}
                            </p>
                        </div>
                        <div class="splitter" style="" onclick="toggle()" id="splitterID" data-toggle="tooltip" title="Đóng chi tiết dự án"></div>
                    </div>

                </div>
                <div class="fill-height " id="gridTable" style="width:75%;display:inline;float:left">
                    <div class="main-index" style="width:100%;">
                        <div class="gridStyle" ng-init="init()" ng-grid="gridOptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>



</style>

