@model APVTranslator_Entity.Models.TextSegment
@Scripts.Render("~/bundles/script/translate")
@Styles.Render("~/bundles/content/translate")
@{
    ViewBag.Title = "Translate";
    Layout = "~/Views/Shared/_TranslateLayout.cshtml";
}
<div class="translate-body" ng-controller="translateCtrl">
    <div class="translate-top">
        <p>FileName.xlsx - (Project Name)</p>
    </div>
    <div class="translate-center">
        <div class="grid-translate gridStyle" ng-init="init()" ng-grid="gridOptions" />
    </div>
</div>


