@model APVTranslator_Entity.Models.TextSegment
@Scripts.Render("~/bundles/script/translate")
@Styles.Render("~/bundles/content/translate")
@{
    ViewBag.Title = "Translate";
    Layout = "~/Views/Shared/_TranslateLayout.cshtml";
}
<div class="translate-body">
    <div class="row translate-top">
        top
    </div>
    <div class="row translate-center">
        grid
    </div>
</div>


