.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 100%;
}

.app-index {
    height: inherit;
    width: inherit;
    display: flex;
    flex-flow: column;
    flex: 1;
}

.m-top {
    flex: 0 1 60px;
}

.m-center {
    flex: 1 1 auto;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
}

.main-left {
    background-color: #EAF2F8;
}

.main-index {
    width: 99.5%;
}

.grid-center {
    height: inherit;
    width: 75%;
    display: flex;
    flex-flow: row;
}

.detail-title {
    position: relative;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}

.detailt-item {
    position: relative;
    padding: 40px;
    top: 30px;
    font-size: medium;
}

.detail-item {
    position: relative;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
}

    .detail-item p {
        display: inline;
        word-wrap: break-word;
    }

.splitter {
    width: 0.5%;
    background-color: #086962;
}

    .splitter:hover {
        cursor: pointer;
    }

/*.body-content {
    padding-right: 0px !important;
}*/

#mySidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#mySidenav::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#mySidenav::-webkit-scrollbar-thumb {
    background-color: #FFFF66;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.sidenav {
    overflow-x: hidden;
    transition: 0.5s;
    width: 25%;
    display: inline;
    float: left;
    overflow-y: auto;
    border-radius: 4px;
}

.ngCell {
    display: table-cell;
    height: auto !important;
    overflow: auto;
    position: static;
}

.ngRow {
    display: table-row;
    height: auto !important;
    position: static;
    word-wrap: break-word;
    text-wrap: normal;
    overflow-wrap: break-word;
    float: none;
    vertical-align: middle;
    height: auto !important;
}

.ngCellText {
    height: auto !important;
    white-space: normal;
    overflow: visible;
    word-wrap: break-word;
    text-wrap: normal;
    overflow-wrap: break-word;
}


.gridStyle {
    z-index: 2;
}

md-toolbar {
    z-index: 0 !important;
}

.ngTopPanel {
    z-index: 0 !important;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover{
    border:none !important;
    outline:none !important;
    border-left: solid 1px #ccc !important;
}