.translate-body {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:10px;
}

.translate-top {
    flex: 0 1 50px;
    text-align: center;
    padding-top: 12px;
}

    .translate-top p {
        font-size: 17px;
        font-weight: bold;
    }

.translate-center {
    flex: 1 1 auto;
    display: flex;
    flex-flow:column;
}

.grid-translate {
    flex: 1 1 auto;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
}
