.translate-body {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.translate-top {
    flex: 0 1 50px;
    text-align: center;
    padding-top: 12px;
}

    .translate-top p {
        font-size: 17px;
        font-weight: bold;
    }

.translate-center {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.grid-translate {
    flex: 1 1 auto;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
}

.green {
    background-color: green;
    color: white;
}

.ngCell:hover .cellTooltip {
    display: block;
}

.cellTooltip {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 3px;
    /* z-index: 100; */
    opacity: 0.75;
    display: none;
}

/*.ngCell {
    display: table-cell;
    height: auto !important;
    overflow: auto;
    position: static;
      white-space: normal !important;
}

.ngRow {
    display: table-row;
    height: auto !important;
    position: static;
    word-wrap: break-word;
    text-wrap: normal;
    overflow-wrap: break-word;
      white-space: normal !important;
}*/

.ngCellText {
     height: auto !important;
    text-overflow: inherit;
    overflow-wrap: break-word;
        white-space: normal !important;
}
.wrap-text {
    white-space: normal !important;
}
