.translate-body {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
}

.translate-top {
    flex: 0 1 20px;
    text-align: center;
    padding-top: 7px;
}

    .translate-top p {
        font-size: 17px;
        font-weight: bold;
    }

.translate-center {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.grid-translate {
    flex: 1 1 auto;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
}

.green {
    background-color: green;
    color: white;
}

.ngCell:hover .cellTooltip {
    display: block;
}

.cellTooltip {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 3px;
    /* z-index: 100; */
    opacity: 0.75;
    display: none;
}

.dowload-file {
    position: absolute;
    right: 10px;
    bottom: 40px;
    font-size: 48px;
}

.tooltip {
    font-size: 16px;
}

#connectStatus {
    background-color: #ff5200;
    display:none;
}
